@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Patrick+Hand&family=Yellowtail&display=swap');@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

::after
*::before

 { 
   
    font-family: 'Patrick Hand', cursive;
}
{
    box-sizing: border-box;
  }
    container {
        display: grid;
        grid-template-rows: 100px 1fr 50px;
    }
   
    header {
        display: grid;
        grid-template-columns: 80px 1fr;
        align-items: center;
        background: #ccc;
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        text-transform: uppercase;
        color: #585454;
        font-weight: 600;
        position: relative;
      }

      
body {
    font-family: 'Patrick Hand', cursive;
    background-color: rgb(235, 192, 157);

}
header p { 
    font-weight: 700px;
    color: #d16117;
    

}
header a {
    text-decoration: none;
float: inline-end;
    padding: 30px;
    background-color: #f19012;
    float: right;
    color: #5f1a06;
}



