@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Patrick+Hand&family=Yellowtail&display=swap');

body {
    font-family: 'Patrick Hand', cursive;
    background-color: coral;
    color: crimson;
}
p {
    grid-template-columns: auto;
    grid-column: auto;
    color: #e78c41;
}
ul {
   background-color: aqua;
}
ul li {
    color: #492406;
}
ul li::before { 
    content: "\2022";
    color: #f05945;
    width: 1em;
    margin-right: 25 px;
} 
form {
    font-family: 'Yellowtail', cursive;
    color: brown;
}